body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; 
  color: white;
}

.search-container {
  max-width: 400px;
  margin: 10px 20px 10px 10px;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #212121;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #333;
  color: white;
}

main {
  max-width: 800px;
  margin: 60px auto 0;
  padding: 2rem;
  background-color: #212121; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.car-card {
  background-color: #333; 
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.car-name {
  text-transform: uppercase;
  margin-top: 0;
  color: #f3f4f5; 
}

.car-image img {
  max-width: 80%; 
  height: auto;
  display: block;
  margin: 0 auto 10px;
  object-fit: cover; 
  border-radius: 10px;
}

.car-location h3 {
  margin-top: 0;
  color: #f3f4f5; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}

.highlight {
  color: #b14feb;
  font-weight: bold;
}
